@font-face{
    font-family:'digital';
    src: url('fonts/digital-7\ \(mono\).ttf');
}
@font-face{
    font-family:'league';
    src: url('fonts/LeagueSpartan-Bold.otf');
}
@font-face{
    font-family:'patrick';
    src: url('fonts/PatrickHand-Regular.ttf');
}


body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'patrick';
}

h1{
    font-size: 4em;
    color: rgb(117, 16, 212);
    -webkit-text-stroke: 0.5px rgb(37, 27, 27);
    font-family:'patrick';
}
.main{  
    border-radius: 2px;
    padding: 20px;
    margin-top: -20px;
    background-color: rgba(39, 101, 155, 0.329);
}

.calculatorContainer{
    border: 5px outset black;
    display: inline-block;
    background-color: rgb(90, 66, 156);
    border-radius: 10px;
}

#screen{
    font-family:'digital';
    margin: 15px;
    word-wrap: break-word;
    overflow: hidden;
    max-width: 450px;
    height: 80px;
    border: 1px solid black;
    vertical-align:top;
    text-align: right;
    background-color: gray;
    color: white;
    font-size: 5em;
    box-shadow: 0 0 0 3px rgb(126, 110, 141),
                0 0 0 5px rgb(69, 55, 83);

}

.calculatorButtons{
    display: grid;
    grid-template-columns: repeat(4, 100px [col-start]);
    grid-template-rows: repeat(5, 100px [row-start]);
    row-gap: 5px;
    column-gap: 5px;
    margin: 10px;
}
button{
    border: 2px outset black;
    border-radius: 5px;
    font-size: 1.8em;
    font-weight: 500;
    font-family: 'league';
    padding-top: 5px;
    margin: 5px;
    box-shadow: 0 0 0 1px rgb(126, 110, 141),
                0 0 0 3px rgb(69, 55, 83);
}
button:hover{
    opacity: 80%;
}
button:active{
    opacity: 40%;
    border: 3px inset black;
}


.clear{
    grid-column: 1/3;
    background-color: red;
}
.delete{
    grid-column: 3/5;
}

footer{
    margin: 20px;
}
.icons img{
    margin: 2px;
    height: 32px;
    width: 32px;
}

